.taka-navbar {
    position: sticky;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 140px;
    background-color: #212529;
    
    &-brand {

        text-decoration: none;
        color: #61dafb;
        font-size: 20px;

        &:hover {
            color: #ffffff;
        }

        &-img {
            width: 70px;
            height: 100%;
        }

    }

    &-searchbox {

        &-img {
            width: 15px;
            height: auto;
        }

    }

    &-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &-item {
            padding: 20px;

            a {
                text-decoration: none;
                color: #61dafb;
                font-size: 20px;

                &:hover {
                    color: #ffffff;
                    text-decoration: underline
                }

            }

        }
    }

    .user-dropdown {

        a {
            text-decoration: none;
        }

        &-info {
            background: #212529;
            color: #61dafb;
            border-color: #61dafb;
    
            &:hover {
                background: #61dafb !important;
                color: #212529 !important;
                border-color: #61dafb !important;
            }
    
            &:focus {
                background: #212529 !important;
                color: #61dafb !important;
                border-color: #61dafb !important;
            }
        }

    }

    .cart {
        position: relative;

        &-img {
            width: 30px;
            height: auto;
        }

        &-count {
            position: absolute;
            background-color: #C0392B;
            color: #ffffff;
            border-radius: 50%;   
            width: 15px;
            height: 15px;
            font-size: 0.7rem;
            font-weight: 500;
            text-align: center;
            top: 15px;
            right: 15px;
        }

    }

}

@media(min-width: 992px) {
    .taka-navbar {
        height: 70px;
    }
}