.review-item {
    width: 100%;
    height: auto;

    &-avatar {       
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center; /* Center the image within the element */
    }

    &-content {
        resize: none;
        border-radius: 5px;
    }

}