.product-quantity-btn {
    border: 1px solid #79797a;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    color: rgba(0,0,0,.8);
    background-color: #ffffff;
}

.product-quantity-input {
    width: 60px;
    height: 30px;
    border: 1px solid #79797a;
    color: rgba(0,0,0,.8);
}